* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appContainer {
  margin: 10px auto;
  max-width: 1100px;
  min-height: 100px;
}

.headContainer {
  margin: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.headContainer [name="logo"] {
  display: flex;
  align-items: center;
  width: 300px;
}

.headContainer [name="links"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.headContainer [name="links"] ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headContainer [name="links"] ul li {
  list-style-type: none;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(79, 79, 255);
}

.missionConatiner {
  margin: 10px 10px;
  display: flex;
}

.missionConatiner img {
  width: 170px;
  height: 150px;
}

.missionConatiner [name="info"] {
  padding-left: 10px;
}

.missionConatiner p {
  padding: 5px 0;
}

.missionConatiner button {
  margin: 5px 0;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: rgb(79, 79, 255);
  border-radius: 5px;
}
